<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="over"
    (closedStart)="accordionItem.expanded = false"
  >
    <ul class="nav__list">
      <li>
        <a
          class="nav__link"
          routerLink="/main"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.close()"
          >Главная</a
        >
      </li>

      <li>
        <cdk-accordion class="accordion">
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            class="accordion-item"
          >
            <a
              class="nav__link"
              [class.active]="isCatalogsActive()"
              [class.expanded]="accordionItem.expanded"
              (click)="accordionItem.toggle()"
              id="accordion-header"
              [attr.aria-expanded]="accordionItem.expanded"
              aria-controls="accordion-body"
            >
              Каталоги
            </a>
            @if(accordionItem.expanded) {
            <div
              class="accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              id="accordion-body"
              aria-labelledby="accordion-header"
            >
              <app-brand-name-list
                (itemClick)="sidenav.close()"
              ></app-brand-name-list>
            </div>
            }
          </cdk-accordion-item>
        </cdk-accordion>
      </li>

      <li>
        <a
          class="nav__link"
          routerLink="/about"
          routerLinkActive="active"
          (click)="sidenav.close()"
          >О нас</a
        >
      </li>
      <!-- <li>
        <a
          class="nav__link"
          routerLink="/contacts"
          routerLinkActive="active"
          (click)="sidenav.close()"
          >Контакты</a
        >
      </li> -->
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-header (menuClick)="sidenav.toggle()"></app-header>
    <div class="container content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
