:host {
  display: block;
  height: 100vh;
}

.sidenav-container {
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
}

.nav__link {
  color: var(--black-text-color);
  display: block;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.nav__link.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

app-brand-name-list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 12px;
  line-height: 1;
}