<div class="header-wrp">
  <div class="container">
    <div class="header">
      <div class="logo-wrp">
        <div class="logo">
          <img src="assets/img/machining-logo.png" alt="Логотип компании" />
        </div>
        <div class="company-name-wrp">
          <h2 class="company-name">
            MACHININ
            <span class="g-letter">G</span>
          </h2>
          <span class="company-description"
            >Поставка оборудования и оснастки для металлообработки</span
          >
        </div>
        <span class="trademark">TM</span>
      </div>
      <div class="contacts__block">
        <div class="contacts">
          <p>
            <a class="phone" href="tel:+79171112233">+7(917)111-22-33</a>
          </p>
          <p>
            <a class="email" href="mailto:machining@gmail.com"
              >machining@gmail.com</a
            >
          </p>
        </div>
        <!-- <button class="btn btn-outlined">Перезвоните мне!</button> -->
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="nav__desktop">
      <div class="container">
        <!-- <span>Поставка оборудования и оснастки для металлообработки</span> -->
        <ul class="nav__list">
          <li>
            <a
              class="nav__link"
              routerLink="/main"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Главная
            </a>
          </li>
          <li class="catalogs-link">
            <a
              class="nav__link"
              routerLink="/catalog"
              routerLinkActive="active"
            >
              Каталоги
            </a>
          </li>
          <li>
            <a class="nav__link" routerLink="/about" routerLinkActive="active"
              >О&nbsp;нас</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="nav__mobile">
      <div class="container">
        <div class="nav__mobile-wrp">
          <div class="menu">
            <button mat-mini-fab class="menu-button" (click)="menuClick.emit()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="contacts-mobile">
            <p>
              <a class="phone" href="tel:+79171112233">+7(917)111-22-33</a>
            </p>
            <p>
              <a class="email" href="mailto:machining@gmail.com"
                >machining@gmail.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
