:host {
  display: block;
  margin-bottom: 20px;
  background-color: var(--white-color);
}

.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrp {
  display: flex;
  gap: 16px;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

a {
  color: var(--white-color);
  display: block;
}

.nav {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.nav__mobile {
  display: none;
}

.nav__mobile-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.contacts-mobile {
  text-align: end;
}

.menu {
  width: 50px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  padding: 20px 0;
  cursor: pointer;
}

.nav__link.active {
  text-decoration: underline;
}

.contacts__block {
  display: flex;
  gap: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  font-weight: 600;
}

.email {
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .slogan {
    display: none;
  }
}

@media (max-width: 600px) {
  .contacts {
    display: none;
  }

  .header {
    padding-bottom: 0;
  }

  .nav__desktop {
    display: none;
  }

  .nav__mobile {
    display: block;
  }
}