<div class="header-wrp">
  <div class="container">
    <div class="header">
      <div class="logo-wrp">
        <div class="logo">
          <img src="assets/img/machining-logo.png" alt="Логотип компании" />
        </div>
        <h2 class="slogan">
          <span class="slogan__up">Подход - гибкий,</span>
          <span class="slogan__down">инструмент - твердый!</span>
        </h2>
      </div>
      <div class="contacts__block">
        <div class="contacts">
          <p>+7(917)111-22-33</p>
          <p class="email">machining&#64;gmail.com</p>
        </div>
        <button class="btn btn-outlined">Перезвоните мне!</button>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="container">
      <ul class="nav__list">
        <li>
          <a
            class="nav__link"
            routerLink="/main"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Главная</a
          >
        </li>
        <li class="catalogs-link">
          <a class="nav__link" routerLink="/main/1" routerLinkActive="active"
            >Каталоги</a
          >
        </li>
        <li>
          <a class="nav__link" routerLink="/about" routerLinkActive="active"
            >О нас</a
          >
        </li>
        <li>
          <a class="nav__link" routerLink="/contacts" routerLinkActive="active"
            >Контакты</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
