:host {
  display: block;
  margin-bottom: 20px;
  background-color: var(--white-color);
}

.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrp {
  display: flex;
  gap: 16px;
  position: relative;
}

.trademark {
  position: absolute;
  left: 345px;
  top: 20px;
  font-size: 8px;
}

.company-name-wrp {
  align-self: baseline;
  position: relative;
  top: 9px;
}

.company-name {
  font-family: 'Barlow-semi-condensed';
  font-weight: 600;
  font-size: 54px;
  display: flex;
  align-items: center;
  position: relative;
  top: 8px;
}

.company-description {
  font-size: 14px;
}

.g-letter {
  font-family: 'Montserrat';
  color: var(--primary-color);
}

.logo img {
  width: 80px;
  height: 80px;
}

a {
  color: var(--white-color);
  display: block;
}

.nav {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.nav__mobile {
  display: none;
}

.nav__mobile-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.contacts-mobile {
  text-align: end;
}

.menu {
  width: 50px;
}

.nav__list {
  display: flex;
  justify-content: end;
  gap: 40px;
}

.nav__link {
  padding: 20px 0;
  cursor: pointer;
}

.nav__link.active {
  text-decoration: underline;
}

.contacts__block {
  display: flex;
  gap: 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  font-weight: 600;
}

.phone {
  font-family: 'Barlow-semi-condensed';
  color: var(--semi-black-color);
}

.email {
  font-family: 'Barlow-semi-condensed';
  color: var(--semi-black-color);
  font-weight: 500;
  font-size: 24px;
}

.menu-button {
  width: 40px;
  height: 40px;

  background-color: transparent;
  color: inherit;
  box-shadow: none;
  border: none;

  mat-icon {
    font-size: 29px;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 760px) {
  .logo-wrp {
    margin-bottom: 20px;
  }

  .contacts {
    display: none;
  }

  .contacts-mobile {
    .email {
      color: var(--white-color)
    }

    .phone {
      color: var(--white-color);
    }
  }

  .header {
    padding-bottom: 0;
  }

  .nav__desktop {
    display: none;
  }

  .nav__mobile {
    display: block;
  }
}

@media (max-width: 528px) {
  .logo-wrp {
    margin-bottom: 0;
  }

  .company-name-wrp {
    top: -14px;
  }

  .trademark {
    top: -3px;
  }
}