.brand-card__wrp {
  background-color: var(--white-color);
  border: 2px solid var(--gray-border-color);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  cursor: pointer;
}

img {
  max-width: 200px;
}