:host {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.brand-logo__wrp {
  text-align: center;
  margin-bottom: 16px;
}

.brand-logo {
  height: 100px;
  max-width: 350px;
}

.brand__card {
  padding: 0 24px;
}

h1 {
  font-family: 'Barlow-semi-condensed';
  font-weight: 500;
  text-align: center;
}

.brand-description {
  white-space: pre-line;
}

h3 {
  font-weight: 500;
  margin-bottom: 8px;
}

.catalog {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalog__link {
  font-weight: 500;
}

@media (max-width:760px) {
  :host {
    display: block;
  }

  app-brand-name-list {
    display: none;
  }
}