:host {
  display: grid;
  grid-template-columns: 350px 1fr;
}
.brand-logo__wrp {
  text-align: center;
  margin-bottom: 16px;
}

.brand-logo {
  height: 100px;
  max-width: 350px;
}

.brand__card {
  padding: 0 24px;
}

h1 {
  text-align: center;
}

.brand-description {
  white-space: pre-line;
}
