.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.title-img {
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  background-image: url('/assets/img/metalworking-2.webp');
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 760px) {
  .title-img {
    height: 200px;
  }
}