@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-color: #005cbb;
  --white-color: #ffffff;
  --gray-bg-color: #f3f6fa;
  --gray-border-color: #cccccc;
  --black-text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--gray-bg-color);
}

body,
button,
a,
p {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  margin-bottom: 40px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn {
  padding: 13px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn-outlined {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
