
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../public/assets/fonts/raleway-v36-cyrillic_latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-color: #005cbb;
  --white-color: #ffffff;
  --gray-bg-color: #f3f6fa;
  --gray-border-color: #cccccc;
  --black-text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--gray-bg-color);
  height: 100%;
}

body,
button,
a,
p {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  margin-bottom: 40px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn {
  padding: 13px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn-outlined {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

@media (max-width: 1450px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 95%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
